Variables name

In [ ]:
capital_of_spain = "Madrid"
capital_of_france = "PAris"
capital_of_germany = "berlin"

print(capital_of_spain)
print(capital_of_france)
print(capital_of_germany)

Madrid
PAris
berlin

Naming Conventions


*   Camel case example = myVariableName
*   Snake Case= my_variable_name


*   Pascal Case = MyVariableName

Python generaly used snake case

In [ ]:
python_creation_case = "Febuary, 1991"

print(python_creation_case)

Febuary, 1991

Reassigning Variables

messages can be reassigned in python

In [ ]:
message = "The first message"
print(message)

message = "the second message"
print(message)

message = "the third message"
print(message)

The first message
the second message
the third message

Multiple Assignements

In [ ]:
# msg1, msg2 = "world", "hello"
# msg3, msg4, msg5 = "Name", "Is", "My"

# print(msg1)
# print(msg2)
# print(msg3)
# print(msg4)
# print(msg5)


msg1, msg2 = "world", "hello"
msg3, msg4, msg5 = "Name", "Is", "My"

msg1, msg2 = msg2, msg1 ## message is swapped
msg3, msg4, msg5 = msg5, msg3, msg4

print(msg1)
print(msg2)
print(msg3)
print(msg4)
print(msg5)

hello
world
My
Name
Is

Variable Types

**integer** ## age = 12
**floating-point bumbe**r # temperature= 20.2
**boolean**  # is_true = True
**string**  # name = "Alice"
**list**  # my_list = [1,2,4]


build in-function --- type()

In [ ]:
integer_type = 0
float_type = 0.0
bool_type = True
String_type = ""
list_type = [1,2,1]

print(type(integer_type))
print(type(float_type))
print(type(bool_type))
print(type(String_type))
print(type(list_type))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
<class 'list'>




**Dynamic Type**

Dynamic typing is not a good idea
Dynamic typing is flexible, but can be error-prone
Static typing is safer, but can be inflexible

Java is a Static type language not python

In [ ]:
variable = 10
print(type(variable))
variable = 3.14
print(type(variable))
variable = True
print(type(variable))
variable = "abc"
print(type(variable))
variable = ["a","b"]
print(type(variable))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
<class 'list'>

Type Casting
in python one variable can be converted to a different type using the type casting

Ex:-
 variable = 10.5
 print(int(varialble))

In [ ]:
pi = 3.1415926
square_root_8 = 2.828427124

# type casting
pi = int(pi)
square_root_8  = int(square_root_8)


print(pi)
print(square_root_8)

3
2

# Type Error

ex:-
message = "Hello"

print(int(message))

In [ ]:
##variable = "hello"
variable = "10"

## not alow to modefy below this
print(variable)
print(type(variable))

variable = int(variable)

print(variable)
print(type(variable))

10
<class 'str'>
10
<class 'int'>

# Empty Variable

Other language = null
python = None

ex:-
var = None

In [ ]:
var = None
print(type(var))

<class 'NoneType'>

# Arithmetic operators

+
-
*
/

---


```
# This is formatted as code
x , y = 6,5

print(x+y)
print(x-y) # -3
print(x*y)
print(x/y) ## 0.5

```

-----
Order of Operation in Python is same as in maths
- Acronym ->  PEMDAS
- Parenthesis
- Exponents
- Multiplication and division(from left to right)
- Addition and Subtraction (from left ot right)


```
# This is formatted as code
example =  2 + 3 * 4
ex1= (2 + 3) * 4
print(ex1) ## 20
print(example) # 14
```

In [ ]:
a, b, c = 2, 2 , 0.5
total_sum = a + b + c
product_val = a * b * c

print(total_sum)
print(0 - total_sum)
print(product_val)
print(total_sum / product_val)

4.5
-4.5
2.0
2.25

# More Operations
- floor division //
  * example :- x // y
- modulus %
  * x % y
- exponential **
  * x ** y

  ** Precedence of these operators are**
   - 1. Exponentiation **
   - 2. Floor Division // and modulus %

In [ ]:
a, b, c = 2, 8, 5
product_1 = (a * b)

print(product_1 // c)
print(product_1 % c)
print(a ** b)
print( b ** c)

3
1
256
32768

# ShortHand Operators in Python


```
# This is formatted as code
  count 0
  count = count + 1
  count = count + 2
  print(count) ## o/p - 3


## using shorthand
  coun = 0
  count += 1
  count += 2
  print(count) # o/p: 3  

## some of them are
  count -= 1
  count *= 1
  count /= 1
  count %= 1
  count //= 1
  count **= 1
```

In [ ]:
number = 0
number += 5
print(number)

number -=2
print(number)

number += number # printing number to itself
print(number)

5
3
6

# Boolean OR
  - logical OR operation


```
# This is formatted as code
   a = True
   b = False
   print(a or b) ## True

## here the concept of truth table comes
   here -- or, True , False are the keywords(reserved words)
```

In [ ]:
a,b,c,d = False, False, True, True

print(a or b)
print(b or c)
print(c or d)
print (a or b or b or d)

False
True
True
True

Boolean AND


```
# This is formatted as code
 a = True
 b = False
 print(a and b) ## false
```

In [ ]:
a,b,c,d = False, False , True, True

print(a and b )
print(b and c )
print(c and d )
print(a and b and c and d)

False
False
True
False

# Boolean Negation
  -

```
# This is formatted as code
  a = True
  b = False
  print(not a) # false
  print(not b) # true
```


```
# This is formatted as code
 a,b = True, False
 print(not (a not b)) # true
```


NOT operation

In [ ]:
a,b,c = False,False , True

print(not a)
print(not c)
print(not(a and b))
print(not (b or c))

True
False
True
False

# INTRODUCTION TO FUNCTIONS



```
# This is formatted as code
  def greet():
      print("Hello World!")

```

In [ ]:
def greet():
  print("Hello world!!")
def say_goodbye():
  print("GoodBye, Guys!!")

greet() ## calling the obove functions
say_goodbye()

Hello world!!
GoodBye, Guys!!


# Function Decaration

In [ ]:
def print_number(n):
   print(n)

print_number(20)
print_number(10)

20
10

# Parameters

```
# This is formatted as code
    def greet(name):
        msg = "Hello, " + name
        print(msg)

    greet("Alice") ## print as "Hello, Alice"
```

In [ ]:
def farewell(name):
   msg = "GoodBye, " + name
   print(msg)

farewell("Jeetu") ## her we give a arguments
farewell("Arjun")
farewell("NeetCode")

GoodBye, Jeetu
GoodBye, Arjun
GoodBye, NeetCode

# Multiple parameters

```
# This is formatted as code
  def greet(name,greeting):
      msg = greeting + "" + name
      print(msg)

  greet("Alice", "Hello")
```

In [ ]:
def two_sum(num1, num2):
  print(num1, num2)

def three_sum(nums1, nums2, nums3):
  print(nums1 + nums2 + nums3)

two_sum(7, 10)
three_sum(2,3,4)
two_sum(10,9)
three_sum(20,12,15)

7 10
9
10 9
47

# Return Statement


```
# This is formatted as code
  def add(x,y):
      return x + y
  result = add(3,5)
  print(result) ## 8
```

In [ ]:
def product(nums1, nums2):
  return nums1 * nums2

print(product(1,23))
print(product(3,4))
print(product(5,45))
print(product(5,6))

23
12
225
30

# Type Hints(Optionals)


```
# This is formatted as code

                    #return type
  def add(x:int, y: int) -> int:
      return x + y
```


```
# This is formatted as code
    def greet(name: str) -> None:
        print("Hello," + name)
```

In [ ]:
def greet(name: str) -> None:
  print("Hello!, " + name)
  ##return None

#greet("NeetCode")
print(type(greet("NeetCode")))

Hello!, NeetCode
<class 'NoneType'>

# Scope

In [ ]:
def add_one(n):
  n = n + 1
  print(n)


n = 10
add_one(n)
print(n)

11
10

# Global Vs Local Scope



```
# This is formatted as code
  def declare_variable() -> None:
      inside_function_only = 10
      return

declare_variable()
print(inside_function_only) ## this will raise a NameError
```

```
# This is formatted as code
n = 10

def define_function() -> None:
    print(n)

print(define_function) # this will print 10
```

In [ ]:
n = 100

def print_local_variable(num: int) -> None:
  print(num)

print_local_variable(n) # print 100
## print(num) ## not defined error
print(n)

100
100

# Default Arguments


```
  def greet(name= "world"):
      print("Hello, " + name + "!")

greet() ## print : "Hello, world!"
greet("Bob") ## print: "Hello, Bob!"

```
we have a parameter "name" a default value of "world".
so we call function without arguments, the default value is used.
if call th function with arguments, that arguments will be used instead.


```
## multiple variables
 ## this is valid
def greet(greeting = "Hello", name = "World"):
    print (greeting + ", " + name + "!" )

## this is also valid
def greet(greeting, name = "world!"):
    print(greeting + ", " + name + "!")

## this is NOT  Valid
def greet(greeting= "Hello", name):
    print(greeting + ", " + name + "!")
    ## here its same we are not giving an arguments
    ## greet(,"dgfdsaf") ## which is wrong
```

In [ ]:
def greet(name, punctuation = "!") -> None:
  print("Hello," + name + punctuation )

greet("World" , "!")
greet("World")

Hello,World!
Hello,World!

# Comparison Operators



```
x, y = 3,5
print(x == y) ## false
```

In [ ]:
def check_equals(x, y) -> bool:
  return x == y

def check_not_equal(x,y) -> bool:
  return x != y

def check_less_than(x,y) -> bool:
  return x < y

def check_greater_than(x,y) -> bool:
  return x > y

def check_less_than_or_equal(x,y) -> bool:
  return x <= y

def check_greater_than_or_equal(x,y) -> bool:
  return x >= y


print("3 >=3 ", check_greater_than_or_equal(3,3))

3 >=3  True

# If statements


```
account_balance = -100

if(account_balance < 0):
    print("Your account is overdrawn")

print("This is always printed")

```


```
def is_account_overdraw(balance: int):
    if account_balance < 0
        print("Your account is overdrawn.")

```

In [ ]:
def is_balance_low(balance: int):
  if balance <= 100:
    print("Warning: Low balance.")


is_balance_low(90)
is_balance_low(100)
is_balance_low(101)

Warning: Low balance.
Warning: Low balance.

# if statement Scope

- unlike function if statements do not create a new scope.
- This means that variables defined inside an if statement are accessible outside of the if statement.
- in java and c++ it's different  

```
if True:
    msg = "Hello:"

print(msg) ## print "Hello"
```


```
#

balance = -100

if balance < 0:
    balance = 0

print(balance) ## print 0
```



```
def is_balance_low(balance: int):
    if balance <= 100:
      msg = "warning low balance"
    print(msg)

is_balance_low(50) ## This will print "warning low balance"

print(msg) ## cause an error

```

In [ ]:
def pay_bill(balance: int, bill:int) -> int:
  new_balance = balance
  if balance >= bill:
    new_balance = balance - bill
  return new_balance

print(pay_bill(100,50))
print(pay_bill(100,100))
print(pay_bill(100,150))

50
0
100

# if else statements



```
balance = 100

if balance < 0:
    print("Account is overdewn:")
else:
    print("Accont is in good standing")

```




```
def get_max (a: int, b: int ) -> int:
  if a > b:
      return a
  else:
      return b
      
```

In [ ]:
def get_min(a: int, b: int) -> int:
  if  a <= b:
    return a
  else:
    return b

print(get_min(10,11))
print(get_min(5,-7))
print(get_min(20,20))

10
-7
20

# else-if statements



```
# in python use elif
 balance = 100
 balance = -10

 if balance < 0:
    print("acount overdrawn")
  elif balance == 0:
    print("acount is zero")
  elif balance < 100:
    print("balance is low")
  else:
     print("balance is healthy") ## this will execute

```

In [ ]:
def check_range(nums: int) -> str:
  if nums < 0:
    return "negative"
  elif nums == 0:
    return "zero"
  elif nums >= 0  and nums < 10:
    return "postive single digit"
  elif nums >= 10:
    return "positive multi digit"


print(check_range(-10))
print(check_range(0))
print(check_range(9))
print(check_range(1000))

negative
zero
postive single digit
positive multi digit

# Logic conditioning


```
balance = 500

if balance > 0 and balance < 1000:
    print("balance is b/w 0 and 1000")
```

In [ ]:
def discount_applies(age: int) -> bool:
  if age < 18 or age >= 65:
    return True
  return False

print(discount_applies(17))
print(discount_applies(18))
print(discount_applies(40))
print(discount_applies(65))
print(discount_applies(70))

True
False
False
True
True

# Truthy and Falsy
- in python, it's possible to use non-boolean values to executed conditional statements



```
msg = ""
if msg:
    print("Msg is not empty.") ## not going to print

msg = "Good morning!!"
if msg:
    print("msg is not empty") ## this will print

```


- A value is consider trythy if it evaluate to "True" in a boolean context
- A value is consider false if it evaluate to "False" in a boolean context

## flalsy
 - False (boolean)
 - None (NoneType)
 - 0 integer
 - 0.0 float
 - "" empty string
 - [] list
 - most other empty collections (eg, empty tuple, empty set, empty dictonary)

## truty
- True (boolean)
- all other than 0

```
x = 10

if x:
  print("X is not zero")

if x! = 0:
    print("x is not zero")
```

In [ ]:
def is_truty(value: int) -> str:
  if value:
    return "Truthy"
  return "Falsy"


print(0 , "is" , is_truty(0))
print(10 , "is" , is_truty(10))
print(0.0 , "is" , is_truty(0.0))
print(10.0 , "is" , is_truty(10.0))

0 is Falsy
10 is Truthy
0.0 is Falsy
10.0 is Truthy

# While Loop


```
i = 0

while i < 5:
    print("Python roxðŸ«¡")
     i += 1
```

In [ ]:
# i = 0
# while i< 12:
#   print("IKNOW HOW TO USE THE LOOPS")
#   i += 1

i = 1
while i < 13:
  print("IKNOW HOW TO USE THE LOOPS")
  i += 1

IKNOW HOW TO USE THE LOOPS
IKNOW HOW TO USE THE LOOPS
IKNOW HOW TO USE THE LOOPS
IKNOW HOW TO USE THE LOOPS
IKNOW HOW TO USE THE LOOPS
IKNOW HOW TO USE THE LOOPS
IKNOW HOW TO USE THE LOOPS
IKNOW HOW TO USE THE LOOPS
IKNOW HOW TO USE THE LOOPS
IKNOW HOW TO USE THE LOOPS
IKNOW HOW TO USE THE LOOPS
IKNOW HOW TO USE THE LOOPS

# while loops counting

In [ ]:
# n = 0

# while n <= 9:
#   print(n)
#   n += 1

n = 0
while n < 10:
  print(n)
  n += 1

0
1
2
3
4
5
6
7
8
9

# While loop multiples

In [ ]:
n = 10
while n <= 90:
  print(n)
  n += 10

10
20
30
40
50
60
70
80
90

# for loops


```
for i in range(10) ## not including 10.
     print(i)

```

In [ ]:
for i in range(13):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12

# for loop start


```
for i in range(2,5):
    print(i)
```

In [ ]:
for i in range(10, 21):
  print(i)

10
11
12
13
14
15
16
17
18
19
20

# for loop steps

```
for i in range(0,10, 2):
    print(i)
```

In [ ]:
for i in range(10, 101, 10):
  print(i)

10
20
30
40
50
60
70
80
90
100

# for loop reverse

```
i = 10

while i> 0:
    print(i)
    i -= 1


for i in range(10, 0, -1)
  print(i)
```

In [ ]:
# for i in range(20, 9, -1):
#   print(i)

for i in reversed(range(10,21)):
  print(i)

20
19
18
17
16
15
14
13
12
11
10

# nested loop
```
for i in range(1, 4):
   for j in range(1,4):
      print(i,j)
      
```

In [ ]:
for i in range(3, 6):
  for j in range(3, 6):
    print(i,j)

3 3
3 4
3 5
4 3
4 4
4 5
5 3
5 4
5 5

# Control Flow
- Python provides control statements to alter the execution of loops

 ### keyword
 - break - exits the loop immediately
 - continue - skips the remining
 - pass -- act as a placeholder and does nothing. we cannot have empty loop so we use pass to avoid errors.

```
 for i in range(1,8):
      pass
 if True:
    pass
  
  def unfinised_function():
      pass
```



```
for i in range(1,8):
  if i == 3:
        continue:
  else i == 6:
      break
   print(i)

```

In [ ]:
for i in range(1,8):
  pass

if True:
  pass

def unfinished_function():
  pass

for i in range(1,8):
  break
  print(i)

for i in range(1,8):
  continue
  print(i)

  print("nothig else happened")

# Length Function


```
my_str = "NeetCode"
print(len(my_str))
```

In [ ]:
def get_longer_word(word1: str, word2: str) -> str:
  if len(word1) > len(word2):
    return word1
  return word2


print(get_longer_word("yellow","orange"))
print(get_longer_word("red","blue"))
print(get_longer_word("green","blue"))

orange
blue
green

# String indexing

```
my_str = "hello"
print(my_str[0])
```

In [ ]:
def print_first_char(word1: str) -> None:
  print(word1[0])

def second_first_char(word1: str) -> None:
  print(word1[1])

def third_first_char(word1: str) -> None:
  last_index = len(word1) - 1
  print(word1[last_index])

print_first_char("hello")
second_first_char("world")
third_first_char("yay")

print_first_char("my")

h
o
y
m

# String Looping

access each character in a string saperately


```
my_STring = "Hello, World! "
length = len(my_sTring) #13

for i in range(len(length))
    print(my_sTring[i])

```

here we can use the index i to access and print each character of the string

In [ ]:
def print_string_characters(my_string: str) -> None:
  for i in range(len(my_string)):
    print(my_string[i])

print_string_characters("Hello, World!")
print_string_characters("Good Job!")

H
e
l
l
o
,

W
o
r
l
d
!
G
o
o
d

J
o
b
!

# String looping shorthand


```
my_string = "Hello"

for i in range(len(my_string)):
    print(i, my_string)
```
output:

0 H
1 e
2 l
3 l
4 o



```
for char in my_string:
    print(char)
my_string = "hello"

```
output
h e l l o

In [ ]:
def print_string_characters(word1: str, word2: str) -> None:
  for c in word1:
    print(c)
  for c in word2:
    print(c)

print_string_characters("Hello World", "Good_by")

H
e
l
l
o

W
o
r
l
d
G
o
o
d
_
b
y

# String Concatenation

In [ ]:
def concatenate(s1: str, s2: str) -> str:
  s3 = s1 + s2
  if len(s3) > 10:
    return "To Long! to print bro"
  return s3

print(concatenate("He", "llo"))
print(concatenate("Hello ", "world!"))
print(concatenate("Length", "of10"))

Hello
To Long! to print bro
Lengthof10

## String Slicing (Part 1)

```
my_string = "Hello, World!"

start,end = 1,5

print(my_string[start:end]) ## output:- ello
```

In [ ]:
def get_substring(input_string: str, start:int, end: int) -> str:
  if end > len(input_string):
    return "" ## out of bound index / invalid index
  return input_string[start:end] ## return the start and end index

print(get_substring("Anurag Sharma", 1, 5))
print(get_substring("Anurag Sharma", 4, 65))
print(get_substring("Anurag Sharma", 5, 9))
print(get_substring("Anurag Sharma", 0, 8))
print(get_substring("Anurag Sharma", 6, 8))

nura

g Sh
Anurag S
 S

## String Slicing 2
```
my_string = "NeetCode"
print(my_string[:3]) ## Nee
print(my_string[4:]) ## Code
print(my_string[4:8]) ## Code
print(my_string[:]) ## NeetCode

```

In [ ]:
def first_n_characters(s: str, n: int) -> str:
  return s[:n]

def last_n_characters(s: str, n: int) -> str:
  index = len(s) - n
  return s[n:]

print(first_n_characters("NeetCode" , 3))
print(first_n_characters("NeetCode" , 1))
print(first_n_characters("NeetCode" , 2))
print(first_n_characters("NeetCode" , 8))
print(first_n_characters("NeetCode" , 7))
print(first_n_characters("NeetCode" , 6))
print(first_n_characters("NeetCode" , 5))

Nee
N
Ne
NeetCode
NeetCod
NeetCo
NeetC

# reverse a string
```
my_string = "Hello"
#print(my_string[::-1])  ## olleH  

start, end, step = 4, 1, 1

#print(my_string[start:end]) ## ell

print(my_string[1:4:-1]) ## this will return an empty string
```

In [ ]:
def reverse_string(input_string: str) -> str:
  return input_string[::-1]

print(reverse_string("NEETCODE"))
print(reverse_string("NECOD"))
print(reverse_string("NEODE"))

EDOCTEEN
DOCEN
EDOEN

## String are immutable

```
msg = "I will never change."
msg[0] = "X" ## TypeError: 'str' object does not support item assignment

```

```

msg = "I will never change."

before_second = msg[:1]
print(before_second)
after_second = msg[2:]
print(after_second)

new_message = before_second + after_second
print(new_message) ## we have the character which a space " " and concatinated```

In [ ]:
from os import remove
# def remove_fourth_character(word: str) -> str:
#     remove_character = word[:4]
#     starting_index = word[5:]
#     return remove_character + starting_index

# print(remove_fourth_character("Neetcode"))


def remove_fourth_character(word: str) -> str:
  if len(word) < 4:
    return word
  return word[:3] + word[4:]  ## here we remove the 3rd character

print(remove_fourth_character("Neetcode"))
print(remove_fourth_character("Hello"))
print(remove_fourth_character("Anurag"))

Neecode
Helo
Anuag

# String Formating

formate method

```
name = "Alice"
age = 25

# {} is a placeholder. we than call the "format" method . The number of placeholders must match the number of arguments passed to the format method
msg = "Hello {}. You are {} years old.".format(name,age)
print(msg)

```

```
name = "Alice"
age = 25

# {} is a placeholder. we than call the "format" method . The number of placeholders must match the number of arguments passed to the format method
msg = "Hello {0}. You are {1} years old.".format(name,age)
print(msg) ## Hello Alice. You are 25 years old.
```

```
name = "Alice"
age = 23

## concise way to format strings is to use f-strings
msg = f"Hello, {name}!! You are {age} years old."
print(msg)
```

In [ ]:
def say_goodbye(name: str, hour: int) -> str:
  return f"Goodbye, {name}. See you again at {hour} o'clock."

print(say_goodbye("bod", 242))
print(say_goodbye("alice", 33))
print(say_goodbye("helly", 22))

Goodbye, bod. See you again at 242 o'clock.
Goodbye, alice. See you again at 33 o'clock.
Goodbye, helly. See you again at 22 o'clock.

## Intro To LISTS

in python list is the collection of items that are stored in a specific order.

List are immutable other than the string they can also stored strings

```
my_list = [1,2,3]

print(my_list[0])
print(my_list[2])
print(my_list[1])

```

```
## mix and match type
my_list = [1, "Hello", 3.24, True]
print(my_list)

```

In [ ]:
my_list = [1,4,5,7,8,7,4]

print(my_list[3])

7

# List operations

```
mylist = [1, 3, 5]

if len(mylist) > 0:
  print("list is not empty")
else:
  print("list is empty please insert something")


## both code are equivalent

if mylist:
  print("list is not empty")
else:
  print("list is empty please insert something")


if 2 in mylist:
  print("2 isn in a list")

if 4 not in mylist:
  print("4 is not in the list")

In [ ]:
my_list = [1,3,64,66,4,2
          ]

def check_list_empty(my_list) -> bool:
  # if len(my_list) > 0:
  #   return True
  # else: return False
   return len(my_list) > 0

def check_element_in_list(my_list, element) -> bool:
  # if element in my_list:
  #   return True
  # return False
   return element in my_list

print(check_list_empty([]))
print(check_element_in_list([1,3], 3))


print(check_list_empty([1]))
print(check_element_in_list([1,3],1))


print(check_list_empty([]))
print(check_element_in_list([1,3], 4))

False
True
True
True
False
False

# List looping

```
# This is formatted as code


mylist = [2,4,5,6,7]

length = len(mylist)

for i in range(length):
  print(mylist[i])

for i in range(1, length + 1): ## reverse the list
  print(mylist[-i])


## or we can use
for element in mylist:
  print(element)

```

In [ ]:
from typing import List

def count_x(nums: List[int], x: int) -> int:
  res = 0
  for n in nums:
    if n == x:
      res += 1
  return res

print(count_x([1,2,5,6,5], 5))

2

# list functions

```
mylist= [1,2,4,3,5]

print(min(mylist))
print(max(mylist))
print(sum(mylist))
```

In [ ]:
from typing import List

def get_sum(nums:List[int]) -> int:
  totalSum = 0
  for n in nums:
    totalSum =  n + totalSum
  return totalSum


def get_min(nums:List[int]) -> int:
  curr_min = nums[0]
  for n in nums:
    if n < curr_min:
      curr_min = n
  return curr_min


def get_max(nums:List[int]) -> int:
  curr_max = nums[0]
  for n in nums:
    if n > curr_max:
      curr_max = n
  return curr_max

print(get_sum([1,4,5,6,7]))
print(get_min([1,4,5,6,7]))
print(get_max([1,4,5,6,7]))

23
1
7

# List Append


```
## we use a **method**
## list and string are consider as an object in python

mylist = [1,2,3]

mylist.append(4)

print(mylist)

```

In [ ]:
from typing import List

def append_to_list(mylist: List[int], elements: List[int]) -> List[int]:

  for n in elements:
    mylist.append(n)
  return mylist

print(append_to_list([1,2,3], [4,5]))

[1, 2, 3, 4, 5]

# List POP


  ```
   mylist = [1,3,4]
   mylist.pop(2)
   print(mylist)
  ```

In [ ]:
from typing import List

def remove_from_list(mylist: List[int], index: int) -> List[int]:
  mylist.pop(index)
  return mylist

def pop_n_from_list(mylist: List[int], n: int) -> List[int]:
  while n > 0:
    mylist.pop()
    n -= 1
  return mylist

print(remove_from_list([1,2,3,4,5], 2))
print(pop_n_from_list([1,2,3,4,5], 2))

[1, 2, 4, 5]
[1, 2, 3]

In [ ]:
## find elements in a list

# mylist = [1,2,3,4,5, 4,4,4,3.3]
# print(mylist.index(3)) ## build in function


from typing import List
##  finding first occurence without using the index() function
def find_index(nums: List[int], target: int) -> int:
  for i in range(len(nums)):
    n = nums[i]
    if n == target:
      return i

print(find_index([1,2,3,4,5,6],3))

2

In [ ]:
## list Slicing which is same as the string

# mylist = [1,2.4,.4, 5]
# print(mylist[1:3])
# print(mylist[len(mylist) - 1])
# print(mylist[len(mylist) - 2])
# print(mylist[len(mylist) - 3])
# print(mylist[-1])
# print(mylist[1:])
# print(mylist[:3])


from typing import List

def get_last_three_element(mylist: List[int]) -> List[int] :
  # return mylist[len(mylist) - 3:] ## getting last three indexes from the list
   return mylist[-3:]

print(get_last_three_element([1,2,3]))
print(get_last_three_element([1,2,3,4,5]))
print(get_last_three_element([1,2,3,4,5,6,6,7,8]))

[1, 2, 3]
[3, 4, 5]
[6, 7, 8]

# Tuples
tuples are very similar to lists, but they have one key difference:
   they are immutable

we create a tuple using paranthesis instead of square brackets

In [ ]:
# my_tuples = (1,3,5)
# print(my_tuples)
# print(my_tuples[2])
# print(my_tuples[1:])

from typing import Tuple

def create_pair(name: str, age: int) -> Tuple[str, int]:
  return (name, age)

print(create_pair("Alice", 25))

('Alice', 25)

# Intro to Set

1. set is **unordered** ?(so if an ordered is important then you should use a list)
2. a set can only contains **unique elements** if you try to add  a duplicatee element to a set , it will be ignored.

3. In Python, curly braces {} are used to create dictionaries, not sets. When you use {}, Python interprets it as an empty dictionary.

To create an empty set, you need to use the set() function instead.

In [ ]:
# my_set = {1,3,5}
# print(my_set)

# my_set = {5,3,1} ## there is no guarentee of the order
# print(my_set)

# my_set = set()

# my_set.add(1)
# my_set.add(2)
# my_set.add(1) ## already in the set (ignored) set cannot contain duplicate elements.
# my_set.add(4)
# my_set.add(5)

# print(my_set)

from typing import List, Set
def list_to_set(nums: List[int]) -> Set[int]:
  my_set = set() # empty set
  for n in nums:
    my_set.add(n)
  return my_set



print(list_to_set([1,2,3,4,5]))
print(list_to_set([1,2,7,3,1,4,2,4,6,8,9,0,5]))

{1, 2, 3, 4, 5}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

# Set operations




```
# set operations
my_set = {1,3,5,2}
my_set.remove(2)
print(my_set) # {1, 3, 5}

## convert a list into a set by passing the list into the set() function
## we can then convert the set back into a list by passing it into the list() function.

mylist= [1,2,3,4,5,1,2,5]
myset = set(mylist)

print(myset) # {1, 2, 3, 4, 5}

my_list_no_duplicates = list(myset)

```

In [ ]:
# my_set = {"cat", "dog"}
# containt = "cat" in my_set
# print(containt)

from typing import List

def count_unique_words(words: List[str]) -> int:
  word_set = set(words)
  # count = 0
  # for w in word_set:
  #   count += 1
  # return count
  return len(word_set)

print(count_unique_words(["hello", "world"]))
print(count_unique_words([]))

2
0

In [ ]:
## Set Practice

from typing import List

def contains_duplicate(words: List[str]) -> bool:
  myset = set(words)

  # for w in words:
  #   if w in myset:
  #     return True
  #   myset.add(w)
  # return False

  return len(myset) < len(words)


print(contains_duplicate(["hello", "hello", "hell"]))

print(contains_duplicate(["hello",  "i", "am"]))

True
False

# Dictionaries

 stores the key and value pairs

 1. Another way of phrasing it is we are mapping a key to the value. This is why dictonaries are sometimes called maps or hashmaps in othe programming language

In [ ]:
# my_dict = {"Alice" : 23, "bob" : 3, "hello" : 23}
# print(my_dict)

# my_dict = {} ## empty dictonary

# my_dict["Alice"] = 25
# my_dict["bob"] = 23
# my_dict["helo"] = 26

from typing import List, Dict

def create_dic(name:str, age: int) -> Dict[str, int] :
  my_dict = {name: age}
  return my_dict

def list_to_dict(words: List[str]) -> Dict[str, int]:
  my_dict = {}
  for i in range(len(words)):
    w = words[i]
    my_dict[w] = i
  return my_dict

print(list_to_dict(["alice", "bob"]))

{'alice': 0, 'bob': 1}

In [ ]:
# dict operations

# my_dict = {"a" : 1 , "b": 2}
# print(my_dict["a"])
# my_dict["a"]  = 4
# print(my_dict["a"])

# values of  a dict can be a list, dictonary ,etc.

yourdict={
    "a": 10,
    "apple" : 12,
    "bat" : 7
}

print(yourdict)
print(yourdict["a"])
print("d" in yourdict )
yourdict["a"] = 3
print(yourdict)

{'a': 10, 'apple': 12, 'bat': 7}
10
False
{'a': 3, 'apple': 12, 'bat': 7}

In [ ]:
## dict looping  using keyword "in"
# also use items() method

# my_dict = {"a" : 1 , "b": 2}
# for key, value in my_dict.items():
#   print(key,value)


from typing import Dict, List

def get_dict_keys(age_dict: Dict[str, int]) -> List[str]:
  result = []
  for name in age_dict:
    result.append(name)
  return result


def get_dict_values(age_dict: Dict[str, int]) -> List[str]:
  result = []
  for name in age_dict:
    age = age_dict[name]
    result.append(age)
  return result

dict_1 = {"john" : 35, "Doe" : 34, "jane": 23}
print(get_dict_keys(dict_1))
print(get_dict_values(dict_1))

['john', 'Doe', 'jane']
[35, 34, 23]

In [ ]:
## dict practice
## common use is count occurence


from typing import Dict, List

def count_characters(word: str) -> Dict[str, int]:

  count = {}

  # for char in word:
  #   if char not in count:
  #     count[char] = 0
  #   count[char] = count[char] + 1

  for char in word:
    if char not in count:
      count[char] = 1
    else:
      count[char] = count[char] + 1

  return count

print(count_characters("hello"))
print(count_characters("hellsdfao"))

{'h': 1, 'e': 1, 'l': 2, 'o': 1}
{'h': 1, 'e': 1, 'l': 2, 's': 1, 'd': 1, 'f': 1, 'a': 1, 'o': 1}

In [ ]:
# remove dict using pop() method or del keyword

from typing import Dict, List
def remove_keys(my_dict: Dict[str,int], keys: List[str]) ->  Dict[str, int]:

  # for k in keys:
  #   if k in my_dict:
  #      my_dict.pop(k)

  for k in keys: #parameter to not gice an error
    my_dict.pop(k, 0)

  return my_dict

print(remove_keys({"h": 1, "e": 1, "l" : 2}, ["h" , "a"]))

{'e': 1, 'l': 2}

In [ ]:
# Dict Values
#print(my_dict(values))

# converting the values of a dict into a list suing list() function
my_dict = {"a":1, "b":2, "c" : 5}
values = list(my_dict.values())
print(values)


from typing import Dict, List

def get_dict_values(age_dict: Dict[str, int] ) -> List[int]:
  return list(age_dict.values())

print(get_dict_values({"ant":34, "bat":56, "cat" : 23}))

[1, 2, 5]
[34, 56, 23]

In [200]:
# reading input from the console

# user_input = input("Enter some text:")
# print(user_input)

def read_and_print_input() -> None:
  line = input("REad a line and do something:")
  print(line)

read_and_print_input()
read_and_print_input()

KeyboardInterrupt: Interrupted by user

In [213]:
## type conversion with input

# user_input = input() ## this will read one line of input from stdin
# print(user_input)


def read_int() -> int:
  integer = int(input())
  return integer

def read_float() -> float:
  myfloat = float(input())
  return myfloat

print(read_int())
# print(read_int())
# print(read_int())

print(read_float())
# print(read_float())
# print(read_float())

5
5
4.5
4.5

## Parse Input

1. sometimes we have to do more things than just converting the input to a single type.
2. we might need to recontruct the input in some way. This is called **Parsing** the input

suppose we read alist of int's separated by comma into a string.
but you want to store them as a list. you can use the split() method to split the string by commas. This will conv. "1,2,3" into a list of strings ["1", "2","3"]

In [214]:
# number_string = "1,2,3"
# string_list = number_string.split(",")
# print(string_list)


from typing import List

def read_integer() -> List[int]:
  line = input()
  list_of_strings = line.split(",")
  list_of_int = []

  for string in list_of_strings:
     list_of_int.append(int(string))
  return list_of_int

print(read_integer())


print(read_integer())
print(read_integer())
print(read_integer())

4
[4]
46,16,48
[46, 16, 48]
48,35,78
[48, 35, 78]
473,496,597,4034
[473, 496, 597, 4034]

# Reading Input practice

In [209]:
def add_two_numbers() -> int:
  line = input()
  numbers = line.split(",")
  return int(numbers[0]) + int(numbers[1])

print(add_two_numbers())

5,5
10

# Exceptional handling
 ## Try Except

In [219]:
# res = 10 /0
# print("This will be printed regardless..")

# try: ## try block is reminiscent of an if-else statement
#   res= 10 / 0
# except:
#   print("An error occured!")

# print("This will be printed regardless..")

def divide_numbers(a: int, b: int) -> None:
  try:
    res = a / b
    print(res)
  except:
    print("An error occured!")

divide_numbers(13,4)
divide_numbers(12,4)
divide_numbers(13,0)

3.25
3.0
An error occured!

Error Catching

In [224]:
# try:
#   res = 10 / 0
# except Exception as error:
#   print("Error!", error)


def divide_numbers(a: str, b: str) -> None:
  try:
    a_int = int(a)
    b_int = int(b)
    res = a_int / b_int
    print(res)
  except Exception as error:
    print("An error occured:", error)

print(divide_numbers("19", "3"))
print(divide_numbers("19", "not a number"))

6.333333333333333
None
An error occured: invalid literal for int() with base 10: 'not a number'
None

**Multiple Except Blocks**

In [226]:
def divide_number(a:str, b: str) -> None:
  try:
    a_int = int(a)
    b_int = int(b)
    res = a_int / b_int
    print(res)

  except ValueError:
    print("Error: Invalid Value!")
  except ZeroDivisionError:
    print("Error: Division by zero!")

divide_number("10","2")
divide_number("10","0")
divide_number("10","not a number")

5.0
Error: Division by zero!
Error: Invalid Value!

**Happy Learning ðŸ˜Š**